.header{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:10px;
    position:sticky;
    z-index:100;
    top:0;
    background-color:white;
}

.header__logo{
    height: 60px;
    object-fit:contain;
    margin-left:15px;
}

.header__left{
    display:flex;
    align-items:center;
    margin-left:10px;
}

.header__input{
    display:flex;
    align-items:center;
    width:95%;
    border:1px solid #c7c7c7;
}

.header__icons{
    display:flex;
    align-items:center;
    justify-content:space-around;
}

.header__input > input{
    flex:1;
    border:none;
    padding:5px;
    font-size:17px;
    color:#fafafa;
}

.header__inputButton{
    width:50px  !important;
    background-color:#fafafa !important;
    border-left:1px solid lightgray;
    color:gray;
}

.header-middle{
    display:flex;
    width:40%;
}

.header__mic{
    margin-left:9px;
    padding:3px;
    color:#666565;
    background-color:#f2f2f2;
    border-radius:20px;
}

.inout_style{
    padding:5px;
}

.header__icon{
    margin-right:25px;
    font-size: 50px;
    color:#5e5d5c;
}